# Entornos virtuales
venv/
ENV/
env/
venv

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración o sensibles
.env
*.env

# Archivos de bases de datos SQLite
*.sqlite3

# Archivos de logs
*.log

# Archivos de caché de Django
*.mo
*.pot

# Archivos de migraciones innecesarios (opcional)
**/migrations/__pycache__/
**/migrations/*.pyc

# Node modules (si tienes frontend en el mismo repo)
node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuraciones del editor (VS Code, PyCharm)
.vscode/
.idea/

# Archivos de coverage/tests
htmlcov/
.coverage
.tox/
.pytest_cache/
